/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

.titleShrikand {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.headerCont {
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.534);
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headerCont img {
  height: 28px;
  margin-top: 7px;
}

.back-arrow {
  position: fixed;
  top: 31px;
  left: 25px;
}

/* FOOTER */
footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 190px;
  padding: 20px;
  background: #353535;
  color: white;
}
footer h2 {
  font-size: 1.1em;
  margin-bottom: 30px;
}
footer p {
  font-size: 0.9em;
  font-weight: 700;
}

.footer_top_cont {
  margin: 18px 0 0 0;
  display: flex;
}
.footer_top_cont_logo {
  width: 11px;
}
.footer_top_cont p {
  margin: -7px 0 0 15px;
}

.footer_bot p {
  margin-top: 11px;
}

/* SECTION 1 */
.nav_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 60px;
  background: #f6f6f6;
}
.nav_form_search {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
.nav_form_search input {
  height: 100%;
  padding-left: 10px;
  width: 68%;
  font-size: 1em;
  font-weight: 700;
  outline: none;
  border: 0;
  background: transparent;
}
.nav_form h1 {
  width: 60%;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 37px;
}
.nav_form p {
  font-weight: 300;
  width: 80%;
  line-height: 1.2;
  margin: 15px 0 30px 0;
}
.nav_form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 20px 2px 20px;
  border: none;
  border-radius: 50px;
  background: #FF79DA;
  background: linear-gradient(174deg, #FF79DA 11%, #9356DC 80%);
  color: white;
  font-size: 0.9em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.349);
}
.nav_functioning {
  padding: 47px 20px 43px 20px;
}
.nav_functioning h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 32px;
}
.nav_functioning_container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.nav_functioning_container_numberCont {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8em;
  background: #9356DC;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.nav_functioning_container_card {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-left: -10px;
  padding-left: 40px;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.233);
}
.nav_functioning_container_card h3 {
  margin-left: 20px;
}
.nav_functioning_container_card_icon {
  color: #278870;
}

/* SECTION 2 */
.menuCont {
  padding: 47px 20px;
  background: #f6f6f6;
}
.menuCont h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}
.menuCont_restaurants_top_card {
  height: 245px;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.233);
}
.menuCont_restaurants_top_card_img {
  min-height: 170px;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.menuCont_restaurants_top_card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 75px;
  padding: 10px 28px 10px 10px;
}
.menuCont_restaurants_top_card_info_txt {
  display: flex;
  flex-direction: column;
}
.menuCont_restaurants_top_card_info_txt h2 {
  font-size: 1.1;
  font-weight: 700;
  margin-bottom: 7px;
}
.menuCont_restaurants_top_card_info_txt p {
  font-weight: 300;
}
.menuCont_restaurants_top_card_new {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  right: 32px;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 700;
  color: #278870;
  background: #99E2D0;
}
.menuCont_restaurants_top_card_new--new {
  visibility: visible;
}
.menuCont_restaurants_top_card_img--1 {
  background-image: url("../../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: bottom;
}
.menuCont_restaurants_top_card_img--2 {
  background-position: center 61%;
  background-image: url("../../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.menuCont_restaurants_bot_card {
  height: 245px;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.233);
}
.menuCont_restaurants_bot_card_img {
  min-height: 170px;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.menuCont_restaurants_bot_card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 75px;
  padding: 10px 28px 10px 10px;
}
.menuCont_restaurants_bot_card_info_txt {
  display: flex;
  flex-direction: column;
}
.menuCont_restaurants_bot_card_info_txt h2 {
  font-size: 1.1;
  font-weight: 700;
  margin-bottom: 7px;
}
.menuCont_restaurants_bot_card_info_txt p {
  font-weight: 300;
}
.menuCont_restaurants_bot_card_new {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  right: 32px;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 700;
  color: #278870;
  background: #99E2D0;
}
.menuCont_restaurants_bot_card_new--new {
  visibility: visible;
}
.menuCont_restaurants_bot_card_img--1 {
  background-image: url("../../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: bottom;
}
.menuCont_restaurants_bot_card_img--2 {
  background-position: bottom;
  background-image: url("../../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*# sourceMappingURL=style.css.map */
