main {
    @include forDesktop {
        display: flex;
        background: map-get($colors, background-lite);
    }
}

/* SECTION 1 */

.nav {
    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-bottom: 60px;
        background: map-get($map: $colors, $key: background-lite );
        &_search {
            display: flex;
            justify-content:end;
            align-items: center;
            width: 100%;
            height: 50px;
            background-color: #eaeaea;
            input {
                height: 100%;
                padding-left:10px ;
                width: 68%;
                font-size: 1em;
                font-weight: 700;
                outline: none;
                border: 0;
                background: transparent;
                @include forTablet {
                    width: 60%;   
                }
            }
        }
        h1 {
            width: 60%;
            font-size: 1.4em;
            font-weight: 700;
            line-height: 1.2;
            margin-top: 37px;
        }
        p {
            font-weight: 300;
            width: 80%;
            line-height: 1.2;
            margin: 15px 0 30px 0;
        }
        &_btn {
            @include btn;
        }
    }
    &_functioning{
        padding: 47px 20px 43px 20px;
        h2 {
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 32px;
        }
        &_container {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 25px;
            &_numberCont {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 0.8em;
                background: map-get($map: $colors, $key: primary );
                border-radius: 50%;
                height: 25px;width: 25px;
            }
            &_card {
                display: flex;
                align-items: center;
                height: 70px;
                width: 100%;
                margin-left: -10px;
                padding-left: 40px ;
                background: map-get($map: $colors, $key:background-lite ) ;
                border-radius: 20px;
                box-shadow: 0 7px 15px rgba(0, 0, 0, 0.233);
                h3 {
                    margin-left: 20px;
                }
                &_icon {
                    color: darken($color: map-get($colors, tertiary), $amount: 40);
                }
            }
            @include forTablet {
                width: 400px;
                margin-bottom: 30px;
            }
        }
        @include forTablet {
             display: flex;
             flex-direction: column;
             align-items: center;   
        }
    }
    @include forDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        height: 100%;
        width: 450px;
        margin-top: 62px;
        margin-bottom: 100px;
        background: white;
        &_form {
            margin-top: 20px;
            width: 90%;
            border-radius: 15px;
            height: 35%;
            padding-bottom: 5%;
            &_search {
                margin: 10px 0;
                width: 95%;
                border-radius: 5px;
                background: #fafafa;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.233);
                input {
                    width: 65%;
                }
            }
        }
        &_functioning {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: 30px;
            height: 48%;
            &_container {
                margin-bottom: 4%;
            }
        }
    }
}

/* SECTION 2 */

.menuCont {
    padding: 47px 20px;
    background: map-get($map: $colors, $key:background-lite );
    h1 {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 25px;
    }
    &_restaurants {   
        &_top {
            @include cards;
            &_card_img {
                &--1{
                    background-image: url("../../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                    background-position:bottom;       
                }
                &--2 {
                    background-position: center 61%;
                    background-image: url("../../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
                }
            }
        }
        &_bot {
            @include cards;
            &_card_img {
                &--1{
                    background-image: url("../../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
                    background-position:bottom;       
                }
                &--2 {
                    background-position:bottom;
                    background-image: url("../../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
                }
            }          
        }
        @include forTablet {
            &_top {
                display: flex;
                flex-direction: column;
                align-items: center;
            }       
            &_bot {
                display: flex;
                flex-direction: column;
                align-items: center; 
            }       
        }
    }
    @include forTablet {
        h1 {
            margin-left: 18%;
        }
    }
    @include forDesktop {
        margin:62px 0 100px 450px;   
        padding: 35px 20px 20px 20px;
        width: 100%;
        height: 78vh;
        h1 {
            text-align: center;
            margin-left: initial;
            margin-bottom: 15px;
        }
        &_restaurants {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: center;
            height: 100%;
            &_top {
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: 100%;
            }          
            &_bot {
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                height: 100%;
            }
        }
    }
}
