.picture {
    min-height: 250px;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    &_palette {
        background-image: url('../../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    }
    &_deliceSens {
        background-image: url("../../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
    &_francaise {
        background-image: url("../../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    &_noteEnchantee {
        background-size: 100% auto;
        background-position: center;
        background-image: url("../../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
}

.mainContainer {
    padding: 15px;
    border-radius: 50px 50px 0 0;
    margin-top: -45px;
    background: map-get($colors, background-lite);
    &_title {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        padding-right: 30px;
        margin-top: 10px;
        h1 {
            font-size: 1.7em;
        }
        &_cont {
            display: flex;
            &_heart {
                z-index: 10;
                font-size: 1.6em;
                line-height: 1;
                cursor: pointer;
            color: black;
            &--fill {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.51em;
                line-height: .04167em;
                vertical-align: -0.125em;
                right: 45px;
                height: 27.2px;
                background: linear-gradient(to top, map-get($colors, secondary) 30%, map-get($colors, primary) 80%); 
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
            }
            &:hover .mainContainer_title_cont_heart--fill {
                opacity: 1;
                transition: opacity 300ms ease-in-out; 
            }
            &:hover .mainContainer_title_cont_heart {
                background: linear-gradient(to top, map-get($colors, secondary) 30%, map-get($colors, primary) 80%); 
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                color: transparent;
                transition: all 300ms 120ms ease-in-out;
            }
        }
        @include forTablet {
            margin-left: 19%;   
            &_cont {
                &_heart {
                    margin-right: 80px;
                }
            }    
        }
    }
    &_catCont {
        h2 {
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 21px;
        }
        &_separator {
            width: 40px;
            border-bottom: 3px solid map-get($colors, tertiary);
            margin: 6px 0 13px 0;
        }
        &_card {
            display: flex;
            width: 100%;
            height: 67px;
            background: white;
            margin-bottom: 15px;
            border-radius: 15px;
            padding: 15px 12px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.103);
            cursor: pointer;
            &_cont {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                h3 {
                    font-size: 1.05em;
                    font-weight: 700;
                }
                &_info {
                    display: flex;
                    justify-content: space-between;
                    p {
                        font-size: 0.87em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &_price {
                        width: 30px;
                        display: flex;
                        align-items: flex-end;
                        height: 100%;
                        margin-right: 10px;
                        margin-left: 10px;
                        font-weight: 700;
                        transition: all 600ms ease-in-out;
                    }
                }
            }
            &_checkCont {
                position: absolute;
                right: 15px;
                width: 60px;
                height: 67px;
                overflow: hidden;
                margin-top: -15px;
                border-radius: 0 15px 15px 0;
                &_forChecked {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;height: 100%;
                        background: map-get($map: $colors, $key:tertiary );
                        transform: translate(60px);
                        transition: all 600ms ease-in-out;
                        &_checkIcon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            background: white;
                            color: map-get($map: $colors, $key:tertiary );
                        }
                }
            }
            &--1 {
                animation: card1 1300ms linear;
            }
            &--2 {
                animation: card2 1300ms linear;
                
            }
            &--3 {
                animation: card3 1300ms linear;
                
            }
            &--4 {
                animation: card4 1300ms linear;

            }
            &:hover .mainContainer_catCont_card_checkCont_forChecked {                
                    transform: translate(0);
                    transition: all 600ms ease-in-out;
                }
                &:hover .mainContainer_catCont_card_checkCont_forChecked_checkIcon {
                    transform: rotate(360deg);
                    transition: all 600ms ease-in-out;
                }
                &:hover .mainContainer_catCont_card_cont_info_price {
                    width: 75px;   
                    transition: all 600ms ease-in-out;
            }
        } 
        @include forTablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_card {
                width: 64%; 
                padding-right: 0;
                &_cont {
                    &_info {
                        &_price {
                            transform: translate(70px);
                        }
                    }
                }
                &_checkCont {
                    position: relative;
                    right: 0;
                    width: 80px;
                    &_forChecked {
                        transform: translate(80px);
                    }
                }  
                &:hover .mainContainer_catCont_card_cont_info_price {
                    width: 75px;
                    transform: translate(50px);  
                }
            }
        }
    }
    &_btnCont {
        display: flex;
        justify-content: center;
        margin: 45px 0;
        &_btn {
            @include btn;
            min-width: 180px;
        }
    }
}

@keyframes card1 {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    25% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes card2 {
    0% {
        
        opacity: 0;
    }
    25% {
        transform: translateY(20%);
        
        opacity: 0;
    }
    50% {
        
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes card3 {
    0% {
        
        opacity: 0;
    }
    50% {
        
        transform: translateY(20%);
        opacity: 0;
    }
    75% {
        
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes card4 {
    0% {
        
        opacity: 0;
    }
    75% {
        transform: translateY(20%);
        
        opacity: 0;
    }
    100% {
        
        transform: translate(0);
        opacity: 1;
    }
}