/* HEADER */

.headerCont {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.534);    
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
        height: 28px;
        margin-top: 7px;
    }
}

.back-arrow {
    position: fixed;
    top: 31px;
    left: 25px;
} 
