/* HEADER */
header {
    @include forDesktop {
        z-index: 10;
        position: fixed;  
        top: 0; 
        left: 0;right: 0;
        background: #fafafa;
    }
}

.headerCont {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.534);    
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
        height: 28px;
        margin-top: 7px;
    }
    @include forDesktop {
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.144);    
    } 
}

.back-arrow {
    position: absolute;
    top: 31px;
    left: 25px;
} 
